html,body {
  margin: 0;
  padding:0;
}

.flex-container-submit{
display: flex;
height: 50px;
width: 100vw;
justify-content: center;
}

a {
  color: white;
  text-decoration: none;
}

h1 {
  color: white;
}

.item-three {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid red;
  transform: rotate(30deg);
}

.item-two {
  height: 50px;
  width: 50px;
  background-color: green;
  border: blue solid 10px;
}

.item-one {
  width: 150px;
  height: 150px;
  background: blue;
  border-radius: 50%;
  align-self: center;
  border: red solid 10px;
}

.item-four {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid green;
  transform: rotate(70deg);
}

.item-five {
  width: 50px;
  height: 50px;
  background: red;
  border-radius: 50%;
  align-self: start;
  border: solid 10px green;
}

.item-six {
  height: 200px;
  width: 200px;
  background-color: blue;
  align-self: center;
  border: solid red 10px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  height: 30vh;
  width: 100vw;
  justify-content: start;
  align-items:start;
  gap: 25px; 
}

.flex-container-two {
  display: flex;
  flex-direction: row;
  height: 30vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.flex-container-three {
  display: flex;
  flex-direction: row;
  height: 30vh;
  width: 100vw;
  justify-content: end;
  align-items: end;
  gap: 5px;
}

#square {
  height: 100px;
  width: 100px;
  background-color: red;
  border: solid 10px green;
  transform: scale(1);
}

#circle {
  width: 100px;
  height: 100px;
  background: green;
  border-radius: 50%;
  z-index: 3;
  transform: scale(1);
  border: blue solid 10px;
}

#triangle {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid blue;
  z-index: 4;
  transform: scale(2);
 
}

@media screen and (max-width: 1680px),
 screen and (max-height:1050px) {
  body{
    background-image: linear-gradient(green, blue);
  }
}

@media (max-width: 1024px),
 screen and (max-height:768) {
  body{
    background-image: linear-gradient(red, green);
  } 
}

@media (max-width: 480px),
 screen and (max-height:320) {
  body{
    background-image: linear-gradient(blue, red);
  }
}
