* {
  border: solid black 1px;
}
 
html,body {
  margin: 0;
  padding:0;
}

.flex-container {
  display: flex;
  flex-direction: row;
  height: 30vh;
  width: 100vw;
  justify-content: start;
  align-items:start;
  gap: 25px; 
}

.flex-container-two {
  display: flex;
  flex-direction: row;
  height: 30vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.flex-container-three {
  display: flex;
  flex-direction: row;
  height: 30vh;
  width: 100vw;
  justify-content: end;
  align-items: end;
  gap: 5px;
}

#square {
  height: 100px;
  width: 100px;
  background-color: red;
  transform: scale(1);
}

#circle {
  width: 100px;
  height: 100px;
  background: green;
  border-radius: 50%;
  z-index: 3;
  transform: scale(1);
}

#triangle {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid blue;
  z-index: 2;
  transform: scale(2);
}

.small-sqaure {
  height: 50px;
  width: 50px;
  background-color: red;
}

@media screen and (max-width: 1680px),
 screen and (max-height:1050px) {
  body{
    background-color: palegoldenrod;
  }
}

@media (max-width: 1024px),
 screen and (max-height:768) {
  body{
    background-color: yellow;
  } 
}

@media (max-width: 480px),
 screen and (max-height:320) {
  body{
    background-color: salmon;
  }
}
